$color1: rgb(84, 41, 71);
$color5: rgb(246, 169, 169);
.modal-mask {
   display: none;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
   min-width: 300px;
   background-color: $color1;
   padding: 10px;
   border-radius: 10px;
   color: $color5;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.modal-mask-active {
   display: flex;
   justify-content: center;
   align-items: center;
}